@import "../home/sec-10-contact.css";
@import "./sec-1-services-hero.css";
@import "./sec-2-services-matrix.css";

.page-services-overview .main-swiper {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.page-services-overview .scroll-section {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  box-sizing: border-box;
}

.sec-services-bg-light {
  background-color: #ffffff !important;
  color: var(--Midnight-Navy, #01103b);
}
